body {
    background-color: #f0f8ff;
}

main {
}

.container {
    margin: 1rem;
}

.perfil-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background-color: #94b6d3;
    border: solid black 2px;
    border-radius: 10px;
}

.perfil-photo div {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.perfil-photo div img {
    position: absolute;
    bottom: 0;
    width: 100px;
}

.perfil-details {
    margin-top: 1.5rem;
}

.perfil-details div {
    padding: 0.5rem 0;
    border-top: solid;
    border-bottom: solid;
    margin-bottom: 1rem;
    cursor: pointer;
}

.perfil-details p {
    padding-left: 1rem;
    padding-top: 0.2rem;
}

/*modal*/
.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-container {
    width: 100vw;
    position: fixed;
    top: 10px;
    z-index: 999;
    justify-content: center;
    display: none;
}

.perfil_config h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.config_options div {
    margin-bottom: 1rem;
}

.config_options select {
    border: none;
    border-radius: 5px;
}

.modal {
    position: absolute;
    top: 65vh;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    background-color: #608fb6;
    border-radius: 10px;
    width: 50%;
}

.modal form {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal form input[type="text"] {
    padding: 0.3em;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.modal form input[type="submit"] {
    border: none;
    border-radius: 10px;
    padding: 0.2rem 0;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0px, 60px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}