body {
    background-color: black;
}

header {
    background-color: #010248;
}

.menu-top {
    border-color: white;
}

.chats {
    border-color: white;
}

.acount-content {
    color: white;
    border-color: white;
}

.operationalButtons button {
    background-color: #818181;
    color: white;
}

.acount-bottom {
    color: white;
}

.acount-buttonAdmin {
    background-color: #818181;
    color: white;
}